.swiper-mobile2{
    @include swiper;
    display: none
}


.swiper-wrapper {
    @include sw-wrapper;
}



.bloc6 {
background-size: 100% 100%;
background-repeat: no-repeat;
    // .bloc6__title

    &__title {
@include title;
text-align: center;
padding-top: 200px;
    }

    // .bloc6__txt

    &__txt {
color: #6A3834;
text-align: center;
font-family: 'Arial';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px;
margin: 39px 0 88px;
    }

    // .bloc6__markets

    &__markets {
        display: flex;
        column-gap: 60px;
        flex-wrap: wrap;
        padding-bottom: 139px;
        row-gap: 20px;
    }

    &__all-item{
        display: flex;
        flex-direction: column;
        justify-items: center;
        row-gap: 37px;
    }

    &__link{
text-align: center;
color: #662525;
font-family: Arial;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
    }
}


//adaptive

@media (max-width:600px){
   
    .swiper-mobile2{
        display:block;
        padding-bottom: 97px;

.swiper-wrapper{
    margin-left:-56px;
}

    }
    
   
    .bloc6{
        &__markets{
            display: none;
        }

&__item{
 display: flex;
 justify-content: center;
}

&__title{
    @include mob-title;
    margin: auto;
    padding-top: 76px;
}

&__txt{
    font-size: 16px;
    max-width: 300px;
    line-height: 20px;
    margin: 12px auto 36px;
}

&__link{
    font-size: 16px;
}

&__all{
    row-gap: 44px;
}
    }
}

@media (max-width:400px){
    
    .swiper-mobile2{ 
        .swiper-wrapper{
    margin-left:-37px;
        }
}
}